// Get the user's username
const username = prompt('Enter your username');

// Connect to server
const socket = require('socket.io-client')();

// When connected to the server
socket.on('connect', () => {
  // send username to the server
  socket.emit('LOGIN', {username});
});
