io.on('connect', onConnect);

function onConnect(socket){

  // socket.emit(<event>[, ...args])
  socket.emit('hello', 'can you hear me?', 1, 2, 'abc');

  // socket.broadcast.emit(<event[, ..args])
  socket.broadcast.emit('broadcast', 'hello friends!');

  // socket.to(<room>).emit(<event>[, ...args])
  socket.to('game').emit('nice game', "let's play a game");

  // socket.to(<room1>).to(<room2>).emit(<event>[, ...args])
  socket.to('game1').to('game2').emit('nice game', "let's play a game (too)");

  // io.in(<room>).emit(<event>[, ...args])
  io.in('game').emit('big-announcement', 'game will start soon');

  // io.of(<namespace>).emit(<event>[, ...args])
  io.of('myNamespace').emit('bigger-announcement', 'tournament will start');

  // socket.to(<socketid>).emit(<event>[, ...args])
  socket.to(<socketid>).emit('hey', 'I just met you');

  // socket.emit(<event>[, ...args][, <callback>])
  socket.emit('question', 'you think so?', function (answer) {});

};
